@import '/src/assets/styles/colors';

$color-water: $color-blue;

.root {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.wave {
  display: block;
  width: 100%;
  opacity: 0.5;
}

.water {
  width: 100%;
  background-color: $color-water;
  opacity: 0.5;
  transition: 1s height cubic-bezier(0.18, 0.89, 0.32, 1.28);
}

.wave path {
  fill: $color-water;
  stroke: $color-water;
}
