.root {
  display: flex;
  flex-direction: column;
  background: none;
  padding: 0 12px;
}

.button {
  border: none;
  background: none;
  outline: none;
  cursor: pointer;

  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: 16px 0 4px;
}

.icon {
  align-self: flex-end;
  display: block;
  margin: 0 16px;
  width: 64px;
  height: 64px;
}

.label {
  font-size: 1rem;
  font-weight: 700;
}

// .description {
// }

.isFullView {
  .icon {
    width: 256px;
    height: 256px;
  }
  .label {
    padding: 10px 0 0;
    font-size: 2rem;
  }
  .description {
    padding: 20px 10px 10px;
    font-size: 1.3rem;
  }
}
