@import '/src/assets/styles/mixins.scss';

.root {
  display: inline-block;
  background: none;
  padding: 0 12px;
}

.button {
  border: none;
  background: none;
  outline: none;
  cursor: pointer;

  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-bottom: 10px;
  width: 96px;
  height: 96px;
}

.icon {
  align-self: flex-end;
  display: block;
  margin: 0 16px 8px;
  width: 64px;
  height: 64px;
}

.label {
  font-size: 14px;
  font-weight: 600;
}
