@import '/src/assets/styles/mixins.scss';
@import '/src/assets/styles/colors.scss';

.root {
  @include button;

  display: flex;
  align-items: center;
  margin: 30px auto 20px;
  height: 64px;
  padding: 0 20px;
}

.icon {
  display: block;
}

.label {
  padding: 0 6px;
  font-size: 14px;
  color: $color-primary;
}
