$color-white: #fff;
$color-blue-lightest: #e0ecf7;
$color-blue-lighter: #bfd7ed;
$color-blue-light: #60a3d9;

$color-primary: #003b73;
$color-background-1: $color-white;
$color-background-2: $color-blue-lightest;
